.App {
  text-align: center;
}

article {
  color: black;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  background-color: #f1f1f1;
  float: none;
  width: 25%;
  padding: 0 10px;
  border-radius: 25px;
  display: table;
  margin: auto;
  margin-top: 25px;
  text-decoration: none;
}

.article_card:hover {
  transform: scale(1.1);
}

.heading {
  color: green;
  display: flex;
  justify-content: center;
}

.link {
  color: red;
  margin: 20px;
  text-transform: capitalize;
}

.li-comments {
  max-width: 500px;
  float: none;
  margin: auto;
  /* Removes the bullet points from each item of the list  */
  list-style: none;
}

form {
  margin-top: 25px;
}

textarea {
  border-radius: 15px;
}

#home {
  margin-right: 50px;
}
